    body {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(0, 0, 0, 0.80);
    }
    
    h1 {
        font-family: 'Saira Semi Condensed', sans-serif;
        font-weight: lighter;
        color: #FFFFFF;
    }
    
    .timer {
        position: relative;
        color: white;
        text-align: center;
        height: 300px;
        width: 300px;
        margin: 40px auto;
        border: 2px solid red;
        border-radius: 50%;
    }
    /* background: linear-gradient( 60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
    
    .gradient {
        position: relative;
        color: white;
        text-align: center;
        height: 310px;
        width: 310px;
        margin: 40px auto;
        border: 2px solid green;
        border-radius: 50%;
    }
    
    #lancer,
    #pause,
    #reset {
        color: rgba(252, 230, 83, 0.70);
        background-color: #C11919;
        border: 2px solid #C11818;
        height: 30px;
        width: 30px;
    }
    
    #courtePause {
        color: rgba(252, 230, 83, 0.70);
        background-color: #C11919;
        border: 2px solid #C11919;
        height: 30px;
        width: auto;
    }
    
    .chronometre {
        display: flex;
        justify-content: center;
        font-size: 5em;
        margin-top: 1.2em;
    }